.dashboard {
  background-color: var(--neutrals-50);
  height: 100%;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
  }

  & .header {
    padding: 32px 24px;
    padding-bottom: 0;
    &__body {
      display: flex;
      padding: 0 28px;
      align-items: center;
      justify-content: space-between;
      column-gap: 10px;
    }

    &__burger {
      padding: 4px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
    }

    &__title {
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 0.12em;
      color: var(--neutrals-900);
      vertical-align: middle;
    }

    &__right {
      display: flex;
      gap: 16px;
    }

    &__search-button {
      padding: 8px;
      border-radius: 10px;
      background-color: var(--neutrals-20);
      display: flex;
      align-items: center;
      justify-content: center;
      display: none;

      i {
        --size: 24px;
      }
    }

    &__profile {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 16px;

      &-avatar {
        width: 100%;
        max-width: 40px;
        object-fit: cover;
      }
      &-info {
        display: flex;
        flex-direction: column;
      }
      &-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: var(--neutrals-900);
      }
      &-email {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: var(--neutrals-500);
      }
    }
  }
  & .info {
    padding: 32px 24px;
    padding-top: 0;
    display: flex;
    gap: 16px;
    flex: 1 1 auto;
    overflow: hidden;

    @media (min-width: 1120px) {
      &.right-0 {
        padding-right: 0;
      }
      &.left-0 {
        padding-left: 0;
      }
      &.top-0 {
        padding-top: 0;
      }
      &.bottom-0 {
        padding-bottom: 0;
      }
    }

    &__body {
      border-radius: 16px;
      padding: 16px 28px;
      background-color: var(--neutrals-20);
      display: flex;
      gap: 40px;
      overflow: hidden;
      flex: 1 1 auto;
    }

    &__section {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 0 12px;
      padding-bottom: 16px;
      border-bottom: 1px solid var(--neutrals-300);

      &.no-line {
        border-bottom: 0;
      }

      & .info__section {
        padding: 0;
        border-bottom: 0;
      }
    }
    &__line {
      display: flex;
      justify-content: space-between;
      color: var(--neutrals-900);
      gap: 5px;

      &.result {
        color: var(--dark-blue);

        & .filtr__line-label {
          font-weight: 500;
          text-transform: uppercase;
        }
      }

      &-label {
        display: flex;
        justify-content: end;
        font-weight: 400;
        font-size: 12px;
        width: 100%;
        max-width: 37%;
        align-items: center;
        text-align: right;
      }
      &-label-subtitle {
        font-size: 10px;
        text-transform: uppercase;
        color: var(--turquoise);
        margin-left: 3px;
      }
      &-value {
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
  & .filtr {
    width: 100%;
    max-width: 353px;
    transition: all 0.3s ease 0s;
    overflow: hidden;

    &.hidden {
      max-width: 0px;
      margin-right: -40px;
    }

    &__body {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-width: 353px;
      gap: 32px;
    }

    &__head {
      display: flex;
      align-items: center;
      gap: 8px;

      & .date-picker-field {
        flex: 1 1 auto;
      }
    }
    &__input {
      input {
        font-size: 12px;
      }
    }
    &__button {
      padding-left: 6px;
      padding-right: 6px;
    }
    &__about {
      display: flex;
      flex-direction: column;
      gap: 24px;
      border-radius: 12px;
      padding: 16px 10px;
      background: url("../img/dashboard/decor-bg.png") right bottom / contain no-repeat;
      background-color: var(--neutrals-50);
      flex: 1 1 auto;
    }
    &__cash {
      position: relative;
      background-color: var(--neutrals-20);
      border-radius: 12px;
      padding: 12px 24px;
      display: flex;
      flex-direction: column;
      &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.12em;
        color: var(--dark-blue);
      }
      &-value {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.12em;
        color: var(--neutrals-700);
      }
      &-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        align-items: center;
        justify-content: center;
        display: none;
        background: transparent;
        transition: all 0.3s ease 0s;
      }

      &._active {
        & .filtr__cash-button {
          transform: translateY(-50%) scaleY(-1);
        }
      }
    }
    &__infos {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }
  & .list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex: 1 1 auto;

    &__tabs {
      display: flex;
      align-self: start;
      background-color: var(--neutrals-50);
      border-radius: 10px;
      width: 100%;
      max-width: 460px;
    }
    &__tab {
      padding: 9.5px 18px;
      border-radius: 10px;
      font-weight: 500;
      width: 100%;
      font-size: 14px;
      text-align: center;
      background-color: var(--neutrals-50);
      color: var(--neutrals-900);

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--light-blue);
        }
      }

      &._active {
        background-color: var(--light-blue);
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      row-gap: 32px;
    }
    &__filter {
      display: flex;
      gap: 8px;
      width: 100%;
      max-width: 385px;

      & .date-picker-field,
      & .ui-select {
        width: 100%;
      }
    }
    &__add-button {
      font-size: 16px;
    }
    &__search {
      display: flex;
      padding: 8px 0;
      color: var(--neutrals-700);
      gap: 16px;
      border-bottom: 1px solid var(--neutrals-500);
      font-size: 12px;

      i {
        --size: 24px;
      }

      &-input {
        flex: 1 1 auto;

        &:placeholder {
          font-weight: 500;
          color: var(--neutrals-500);
        }
      }
    }
    &__table-body {
      flex: 1 1 auto;
      width: 100%;
      overflow: auto;

      &.tab-block {
        display: none;

        &._active {
          display: block;
        }
      }

      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--blue-1);
        border-radius: 100px;
      }
    }
    &__table {
      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--neutrals-400);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--neutrals-500);
      }

      &-header {
        display: flex;
        // justify-content: space-between;
        border-radius: 10px;
        padding: 8px 16px;
        gap: 8px;

        background-color: var(--neutrals-50);
        color: var(--neutrals-900);
        justify-content: space-between;

        @media (max-width: 680px) {
          gap: 12px;
        }
      }
      &-name {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: var(--neutrals-900);
        display: flex;
        align-items: center;
        white-space: nowrap;
        width: 100%;
        // justify-content: center;

        &.button {
          width: auto;
          min-width: 30px;
        }

        & span {
          font-weight: 400;
          font-size: 10px;
          text-transform: uppercase;
          color: var(--neutrals-700);

          & strong {
            font-size: 12px;
          }
        }
      }
      &-item {
        display: flex;
        flex-direction: column;

        &-top {
          display: flex;
          // justify-content: space-between;
          align-items: center;
          gap: 12px;
          padding: 12px 16px;
          border-radius: 12px;

          @media (any-hover: hover) {
            cursor: pointer;
            transition: all 0.3s ease 0s;
            &:hover {
              background-color: var(--light-blue);
            }
          }

          @media (max-width: 680px) {
            padding: 12px 8px;
          }
        }
        &-spoller {
          display: flex;
          flex-direction: column;
        }
        &-lines {
        }
        &-line {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px;
          gap: 10px;

          &.right {
            justify-content: end;
          }

          &:not(:last-child) {
            border-bottom: 1px solid var(--neutrals-300);
          }
        }
        &-title {
          text-align: right;
          min-width: 160px;
          font-weight: 500;
          font-size: 12px;
          span {
            text-transform: uppercase;
          }

          @media (max-width: 680px) {
            min-width: 90px;
          }
        }
        &-value {
          font-weight: 400;
          font-size: 12px;
          text-align: right;
        }
        &-more {
          align-self: end;
          font-size: 12px;
          color: var(--dark-blue);
          display: flex;
          align-items: center;
          gap: 10px;
          background-color: transparent;
          margin-top: 4px;
        }
      }
      &-value {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: var(--neutrals-900);
        width: 100%;
        // justify-content: center;

        &.button {
          width: auto;
          min-width: 30px;
        }

        &.stretch {
          justify-content: stretch;
        }
      }
      &-avatar {
        width: 100%;
        max-width: 36px;
        object-fit: contain;
      }
      &-car {
        width: 100%;
        max-width: 52px;
        object-fit: contain;
      }
      &-button-arrow,
      &-spoller-arrow {
        display: flex;
        align-items: center;
        background: transparent;
        color: var(--neutrals-900);
        transition: all 0.3s ease 0s;
        i {
          --size: 24px;
        }
      }
      & .list__table-item-top {
        &._active {
          & .list__table-spoller-arrow {
            transform: scaleY(-1);
          }
        }
      }

      &-button-dots {
        display: flex;
        align-items: center;
        background: transparent;
      }
    }

    &__pagination {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;

      &-left,
      &-right {
        display: flex;
        gap: 16px;
        align-items: center;

        @media (max-width: 680px) {
          gap: 8px;
        }
      }

      &-title {
        font-weight: 400;
        font-size: 12px;
        color: var(--neutrals-500);
      }
      &-value {
        font-weight: 400;
        font-size: 12px;
        color: var(--blue-1);
      }
      &-actions {
        display: flex;
        gap: 8px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          background: transparent;
        }
      }
    }
  }
  & .user {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease 0s;
    max-width: 0px;
    overflow: hidden;

    &.active {
      max-width: 400px;
    }

    &__body {
      position: relative;
      padding-top: 87px;
      height: 100%;
      display: flex;
      flex-direction: column;
      min-width: 400px;
      background: url("../img/dashboard/decor-bg-2.png") left bottom / contain no-repeat;
      background-color: var(--neutrals-20);
    }

    &__close {
      position: absolute;
      top: 26px;
      right: 26px;
      padding: 5px;
      color: var(--neutrals-600);
      background: transparent;
    }

    &__head {
      display: flex;
      align-items: center;
      gap: 18px;
    }
    &__avatar {
      width: 100%;
      max-width: 56px;
    }
    &__name {
      line-height: 27px;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: 0.12em;
      color: var(--neutrals-900);
    }

    &__info {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  & .profile {
    right: -100%;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 468px;
    position: fixed;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: var(--neutrals-20);
    border-radius: 12px 0 0 12px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 42px 24px;
    overflow: auto;
    z-index: 100;
    transition: all 0.3s ease 0s;

    &.active {
      right: 0;
    }

    &__close {
      position: absolute;
      top: 25px;
      right: 25px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
      letter-spacing: 0.12em;
      text-align: center;
      line-height: 36px;
    }

    &__tabs {
      display: flex;
      width: 100%;
      max-width: 350px;
      background-color: var(--neutrals-50);
      border-radius: 10px;
      overflow: hidden;
    }

    &__tab {
      width: 50%;
      background-color: var(--neutrals-50);
      border-radius: 10px;
      line-height: 21px;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      padding: 9.5px 16px;
      cursor: pointer;

      &._active {
        background-color: var(--light-blue);
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__avatar {
      width: 100%;
      max-width: 60px;
      margin-bottom: 8px;
    }

    &__name {
      font-weight: 500;
      font-size: 14px;
      text-align: center;
    }
    &__city {
      font-weight: 400;
      font-size: 10px;
      color: var(--neutrals-500);
      line-height: 15px;
      margin-bottom: 15px;
    }
    &__adress {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;

      & .medium {
        font-weight: 500;
      }
    }

    &__data {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 32px;

      &-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &-head {
        padding-bottom: 8px;
        border-bottom: 1px solid var(--neutrals-400);
      }

      &-title {
        font-weight: 700;
        font-size: 16px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
      }

      &-info {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-title {
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: var(--dark-blue);
          gap: 4px;
          display: flex;
          align-items: center;

          & i {
            --size: 14px;
          }

          & .ui-icon-ok {
            color: var(--success);
          }

          & .ui-icon-attention {
            color: var(--yellow);
          }
        }

        &-value {
          font-weight: 400;
          font-size: 12px;
          margin-bottom: 4px;

          &.profile__data-info-value-copy {
            padding-right: 20px;
            position: relative;
          }

          & .copy {
            position: absolute;
            right: 5px;
            background: transparent;
            top: 50%;
            transform: translateY(-50%);

            i {
              --size: 16px;
            }
          }
        }

        &-desc {
          font-weight: 400;
          font-size: 10px;
          color: var(--neutrals-500);
          margin-bottom: 8px;
        }

        &-note {
          font-style: italic;
          font-weight: 300;
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 1120px) {
    overflow: auto;

    &__body {
      gap: 10px;
    }

    & .info {
      flex-direction: column-reverse;

      &__body {
        flex-direction: column;
        gap: 40px;
      }

      &__line-label {
        max-width: 100%;
        width: auto;
        text-align: left;
      }
    }
    & .header {
      &__body {
        padding: 0;
      }
    }
    & .filtr {
      max-width: 100%;
      gap: 10px;
      overflow: visible;

      &.hidden {
        display: none;
      }

      &__cash {
        &-button {
          display: flex;
        }
      }
    }
    & .list {
      &__table {
        max-height: 400px;
      }
    }
    & .user {
      max-width: 100%;
      flex: 0 1 auto;
      height: auto;
      overflow: visible;
      display: none;

      &.active {
        display: block;
        max-width: 100%;
      }

      &__body {
        background-position: center;
        background-size: cover;
        min-width: auto;
      }
    }
  }

  @media (max-width: 992px) {
    & .header {
      &__burger {
        display: flex;
      }
      &__profile-info {
        display: none;
      }
      &__profile-avatar {
        max-width: 40px;
      }
      &__search-button {
        display: flex;
      }
    }
    & .list {
      gap: 12px;

      &__table-name {
        font-size: 12px;
      }
      &__search {
        display: none;
      }
    }
  }

  @media (max-width: 680px) {
    &__body {
      // padding: 16px 12px;
      padding-top: 60px;
      gap: 24px;
    }

    & .header {
      padding: 16px 12px;
      padding-bottom: 0;

      &__body {
        flex-direction: row;
        gap: 16px;
        align-items: center;
      }

      &__title {
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.12em;
      }
    }

    & .info {
      padding: 16px 12px;
      padding-top: 0;

      &__body {
        gap: 5px;
        padding: 8px;
        border-radius: 8px;
      }

      &__section {
        padding: 0 5px;
        padding-bottom: 9px;
      }
    }

    & .filtr {
      gap: 32px;

      &__head {
        flex-wrap: wrap;
        column-gap: 21px;
        row-gap: 8px;
        & .date-picker-field {
          flex: 0 1 auto;
        }
      }

      &__cash {
        border-radius: 12px;
        padding: 12px 24px;

        &-title {
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
        }
        &-value {
          font-weight: 600;
          font-size: 24px;
          letter-spacing: 0.12em;
          line-height: 36px;
        }
      }

      &__about {
        border-radius: 8px;
      }
    }

    & .list {
      gap: 24px;

      &__table-header {
        padding: 4px 16px;
        justify-content: space-between;
      }
      &__table-name {
        font-size: 12px;

        &.name,
        &.income,
        &.costs,
        &.cash,
        &.transfer {
          width: auto;
        }
      }

      &__tabs {
        width: 100%;
        justify-content: space-between;
      }

      &__filter {
        max-width: 100%;
      }

      &__add-button {
        width: 100%;
      }
    }

    & .user {
      padding-top: 35px;
      height: 100%;
      &__close {
        top: 15px;
        right: 15px;
      }
      &__name {
        line-height: 20px;
        font-weight: 600;
        font-size: 15px;
      }
    }

    & .profile {
      padding: 26px 24px;

      &__tab {
        padding: 9.5px 4px;
      }
    }
  }
}
