.popup {
  padding: 20px 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(4px);
  transition: opacity 0.3s ease 0s;
  background-color: rgba(3, 3, 3, 0.2);

  &.active {
    opacity: 1;
    pointer-events: auto;

    & .popup-body {
      transform: scale(1);
    }
  }
  &-container {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
  }
  &-body {
    border-radius: 14px;
    padding: 24px 32px;
    padding-top: 36px;
    margin: auto;
    max-width: 473px;
    width: 100%;
    transform: scale(0.9);
    transition: transform 0.3s ease 0s;
    background-color: var(--neutrals-20);
    color: var(--neutrals-900);
    @media (max-width: 650px) {
      max-width: 382px;
    }
  }

  &-close-x {
    padding: 5px;
    display: inline-flex;
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
  }

  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 16px;
    flex-direction: column;
    gap: 10px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
  }

  &.popup-add-license {
    & .popup-title {
      font-weight: 700;
      font-size: 16px;
      letter-spacing: 0.04em;
    }
  }

  &-texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  &-submit {
    margin-top: 24px;
    min-width: 180px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    & .ui-multi-field .ui-multi-button {
      @media (max-width: 650px) {
        font-size: 14px;
      }
    }
  }

  &.popup-download {
    & .popup-body {
      max-width: 528px;
    }
    & .popup-top {
      border-bottom: 1px solid var(--neutrals-500);
    }

    & .popup-top-body {
      padding: 36px 0 21px 0;
    }

    & .popup-body {
      max-width: 528px;
    }

    & .popup-content {
      padding: 24px 0;
    }
  }

  &-status {
    font-weight: 400;
    font-size: 10px;
    color: var(--error);
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 10px;

    i {
      --size: 20px;
    }
  }
}

.popup-download {
  &-info {
    display: flex;
    align-items: center;
    gap: 17px;

    &-icon {
      border-radius: 12px;
      border: 1.12px solid var(--neutrals-500);
      padding: 13px;
      background-color: var(--neutrals-20);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &-texts {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  &-title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #292d32;
  }
  &-subtitle {
    font-weight: 500;
    font-size: 12px;
    color: var(--neutrals-500);
  }
  &-files {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  &-input-file {
    &-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 239px;
      border: 1px dashed var(--neutrals-400);
      border-radius: 15px;
      width: 100%;
    }
    &-icon {
      margin-bottom: 13px;
    }
    &-texts {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    &-text {
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      color: var(--neutrals-900);
    }
    &-format {
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      color: var(--neutrals-500);
    }
    &-button {
      border: 1px solid var(--neutrals-900);
      border-radius: 8px;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      background-color: transparent;
      gap: 8px;
      font-weight: 500;
      font-size: 12px;
      text-align: center;
      color: var(--neutrals-900);
      margin-top: 25px;

      i {
        --size: 12px;
      }
    }
  }
  &-file {
    border-radius: 15px;
    padding: 20px 16px;
    background: var(--neutrals-50);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    &-remove {
      position: absolute;
      padding: 5px;
      right: 15px;
      top: 8px;
      background-color: transparent;

      i {
        color: var(--neutrals-800);
        --size: 12px;
      }
    }
    &-top {
      display: flex;
      align-items: center;
      gap: 19px;
    }
    &-pdf {
      width: 100%;
      max-width: 50px;
    }
    &-info {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }
    &-title {
      font-weight: 500;
      font-size: 14px;
      color: var(--neutrals-900);
    }
    &-info-bottom {
      display: flex;
      gap: 5px;
    }
    &-size {
      font-weight: 400;
      font-size: 14px;
      color: var(--neutrals-500);
    }
    &-status {
      display: flex;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      color: var(--neutrals-800);
      gap: 6px;

      i {
        --size: 12px;

        &.process {
          color: var(--blue-1);
        }
        &.success {
          color: var(--success);
        }
      }
    }
    &-bottom {
    }
    &-progress {
      height: 7px;
      border-radius: 100px;
      position: relative;
      background: var(--neutrals-300);

      &-value {
        position: absolute;
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #99cced;
        border-radius: 100px;
      }
    }
  }
}
