//< " ПЕРЕМЕННЫЕ " >=============================================================================================================>//

// ОБЩИЕ НАСТРОЙКИ СТРАНИЦЫ
$minWidth: 320;
$maxWidth: 1440;
$maxWidthContainer: 560;
$containerPadding: 30;

// СТАНДАРТНЫЕ НАСТРОЙКИ СТРАНИЦЫ
$colorBg: var(--neutrals-50);
$fontFamily: 'Poppins', serif;
