<div class="ui-dropdown">

    @@if(context.label){
    <label class="ui-dropdown-label">@@label</label>
    }

    <div class="ui-dropdown-field">
        <span class="ui-dropdown-value">
              <ul class="ui-dropdown-value-list">

              </ul>
              <i class="ui-icon-arrow-down"></i>
        </span> 

        <ul class="ui-dropdown-list">
            @@for (var i = 0; i < options.length; i++) {
                <li data-value="`+options[i].value+`">
                    `+options[i].label+`
                </li>
            }
          </ul>
    </div>
</div>