<div class="ui-field @@if(context.className){@@className}" @@if(context.valid){data-valid}>
  @@if(context.label){
  <label for="@@id">@@label</label>
  }
  <div class="ui-field-body">
    @@if(context.type === 'phone'){
    <span class="ui-field-phone">
      <span>+48</span>

      <i class="ui-icon-arrow-down"></i>

      <ul class="ui-dropdown-list">
        <li data-value="+48">
          <div>
            <img src="./img/ui/input/poland.svg" alt="Poland">
            <span>+48</span>
          </div>
  
        </li>
        <li data-value="+380">
          <div>
            <img src="./img/ui/input/ukrain.svg" alt="Ukrain">
            <span>+380</span>
          </div>
  
        </li>
      </ul>
      
    </span>

    }

    <input @@if(context.type){data-type="@@type" type="@@type"} @@if(!context.type){type="text"}>

    @@if(context.valid && context.type !== 'password'){
    <i class="ui-icon-check ui-field-valid"></i>
    }

    @@if(context.type === 'password' && context.eye === true){

    <button class="ui-field-visible close">


      <i class="ui-icon-close-eye ui-field-close-eye"></i>
      <i class="ui-icon-open-eye ui-field-open-eye"></i>
    </button>


    }

  </div>
  @@if(context.error){
  <span class="ui-field-error">
    @@error
  </span>
  }
</div>