<div class="menu">

  <button class="menu__close">
    <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M13 1L1 13M1 1L13 13" stroke="white" stroke-width="1.66667" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </button>

  <img src="./img/logo.svg" alt="" class="menu__logo">

  <nav class="menu__nav">
    <a href="kierowcy.html" class="menu__link">
      <i class="ui-icon-driver"></i>
      <span>Kierowcy</span>
    </a>
    <a href="pojazdy.html" class="menu__link">
      <i class="ui-icon-car"></i>
      <span>Pojazdy</span>
    </a>
    <a href="historia.html" class="menu__link">
      <i class="ui-icon-history"></i>
      <span>Historia</span>
    </a>
    <a href="zarobki.html" class="menu__link">
      <i class="ui-icon-money"></i>
      <span>Zarobki</span>
    </a>
    <a href="bonusy.html" class="menu__link">
      <i class="ui-icon-bonus"></i>
      <span>Bonusy</span>
    </a>
    <a href="faktury.html" class="menu__link">
      <i class="ui-icon-chek"></i>
      <span>Faktury</span>
    </a>
  </nav>
</div>

<script>

  const file = location.pathname.split('/')[1]
  document.querySelector(`[href="${file}"]`).classList.add('active')


</script>