<nav class="menu">
  <a href="kierowcy.html" class="menu__link">
    <i class="ui-icon-driver"></i>
    <span>Kierowcy</span>
  </a>
  <a href="pojazdy.html" class="menu__link">
    <i class="ui-icon-car"></i>
    <span>Pojazdy</span>
  </a>
  <a href="historia.html" class="menu__link">
    <i class="ui-icon-history"></i>
    <span>Historia</span>
  </a>
  <a href="zarobki.html" class="menu__link">
    <i class="ui-icon-money"></i>
    <span>Zarobki</span>
  </a>
  <a href="bonusy.html" class="menu__link">
    <i class="ui-icon-bonus"></i>
    <span>Bonusy</span>
  </a>
  <a href="faktury.html" class="menu__link">
    <i class="ui-icon-check"></i>
    <span>Faktury</span>
  </a>
</nav>

<script>

  const file = location.pathname.split('/')[1]
  document.querySelector(`[href="${file}"]`).classList.add('active')


</script>