:root {
  --error: rgb(220, 24, 12);
  --error-bg: rgba(220, 24, 12, 0.05);
  --success: rgb(0, 196, 8);
  --success-bg: rgba(0, 196, 8, 0.05);
  --neutrals-20: rgb(255, 255, 255);
  --neutrals-50: rgb(246, 246, 246);
  --neutrals-100: rgb(245, 245, 245);
  --neutrals-200: rgb(240, 240, 240);
  --neutrals-300: rgb(214, 214, 214);
  --neutrals-400: rgb(194, 194, 194);
  --neutrals-500: rgb(163, 163, 163);
  --neutrals-500-60: rgba(163, 163, 163, 0.6);
  --neutrals-700: rgb(82, 82, 82);
  --neutrals-800: rgb(46, 46, 46);
  --neutrals-900: rgb(15, 15, 15);
  --neutrals-900-80: rgba(15, 15, 15, 0.8);
  --yellow: rgb(255, 199, 0);
  --yellow-bg: rgba(255, 199, 0, 0.05);
  --dark-blue: rgb(0, 92, 126);
  --blue-1: rgb(0, 140, 191);
  --turquoise: rgb(45, 184, 197);
  --turquoise-bg: rgba(45, 184, 197, 0.05);
  --blue-2: rgb(119, 187, 232);
  --light-blue: rgb(235, 251, 255);
  --light-green: rgb(245, 255, 242);
  --light-red: rgb(255, 241, 241);
  --light-yellow: rgb(255, 251, 235);
  --light-turquoise: rgb(236, 249, 251);
  --yellow-1: rgb(255, 228, 120);
  --dark-green: rgb(4, 120, 87);
  --dark-red: rgb(127, 68, 64);
  --dark-orange: rgb(194, 65, 12);
  --fiolet: rgb(82, 2, 187);
  --blue-gradiend: linear-gradient(180deg, #4f99dc 0%, #204d9f 100%);
  --yellow-gradiend: linear-gradient(180deg, #e1d24a 0%, #fcc143 100%);
  --green-gradiend: linear-gradient(342deg, #26a7d0 0%, #0aff89 100%);
  --disabled-color: rgb(138, 138, 138);
}

[class^="ui-"] {
  font-family: "Poppins", serif;
  // font-weight: 400;
}

.ui-status {
  --bg-color: var(--neutrals-100);
  --dot-color: var(--neutrals-300);
  --text-color: var(--neutrals-700);
  --icon-color: var(--neutrals-500);

  display: inline-flex;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 6px;
  padding: 7px 6px 7px 4px;

  &.active {
    --bg-color: var(--success-bg);
    --dot-color: var(--success);
    --icon-color: var(--success);
  }

  &.pending {
    --bg-color: var(--yellow-bg);
    --dot-color: var(--yellow);
    --icon-color: var(--yellow);
  }

  &.inactive {
    --bg-color: var(--error-bg);
    --dot-color: var(--error);
    --icon-color: var(--error);
  }

  &.disabled {
    --bg-color: var(--neutrals-100);
    --dot-color: var(--neutrals-300);
    --icon-color: var(--neutrals-500);
  }

  &.verification {
    --bg-color: var(--turquoise-bg);
    --dot-color: var(--turquoise);
    --icon-color: var(--turquoise);
  }

  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--dot-color);
    margin-right: 2px;
  }

  & span {
    display: inline-block;
    margin-right: 8px;
    color: var(--text-color);
    font-weight: 500;
    font-size: 12px;
  }

  & .ui-icon-info {
    color: var(--icon-color);
    --size: 12px;
  }
}

.ui-doc-verf {
  --bg-color: var(--neutrals-100);
  --icon-color: var(--neutrals-900);
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-color);

  & {
    &.error {
      --bg-color: var(--error-bg);
      --icon-color: var(--error);
    }
    &.active {
      --bg-color: var(--success-bg);
      --icon-color: var(--success);
    }
    &.process {
      --bg-color: var(--turquoise-bg);
      --icon-color: var(--turquoise);
    }
    &.attention {
      --bg-color: var(--yellow-bg);
      --icon-color: var(--yellow);
    }
  }

  & .ui-doc-count {
    font-weight: 500;
    font-size: 12px;
    color: var(--neutrals-900);
  }

  & i {
    color: var(--icon-color);
  }
}

.ui-button {
  --border-width: 2px;
  --border-color: var(--blue-1);
  --bg-color: var(--blue-1);
  --shadow-color: var(--blue-1);
  --shadow: 0 0 6px 0 var(--shadow-color);
  --text-color: var(--neutrals-20);
  --padding: 17px 16px;
  --radius: 10px;
  --text-size: 14px;
  --text-weight: 700;
  --text-transform: uppercase;
  --gap: 10px;

  border: var(--border-width) solid var(--border-color);
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  padding: var(--padding);
  border-radius: var(--radius);
  color: var(--text-color);
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  text-transform: var(--text-transform);
  gap: var(--gap);

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;

  & {
    &:disabled {
      cursor: not-allowed;
    }

    &,
    &.primary {
      --border-width: 2px;
      --border-color: var(--blue-1);
      --bg-color: var(--blue-1);
      --shadow-color: var(--blue-1);
      --shadow: 0 0 6px 0 var(--shadow-color);
      --text-color: var(--neutrals-20);
      --padding: 17px 16px;
      --radius: 10px;
      --text-size: 14px;
      --text-weight: 700;
      --text-transform: uppercase;
      --gap: 10px;

      &:active {
        --bg-color: var(--dark-blue);
        --border-color: var(--dark-blue);
        --shadow-color: var(--neutrals-500);
      }

      &:disabled {
        --bg-color: var(--neutrals-500);
        --border-color: var(--neutrals-500);
        --shadow-color: var(--disabled-color);
      }

      &.outlined {
        --bg-color: transparent;
        --border-color: var(--neutrals-900);
        --shadow: none;
        --text-color: var(--neutrals-900);

        &:active {
          --border-color: var(--dark-blue);
          --text-color: var(--dark-blue);
        }

        &:disabled {
          --border-color: var(--neutrals-500);
          --text-color: var(--neutrals-700);
        }
      }

      &.large {
        --padding: 17px 16px;
        --radius: 10px;
        --text-size: 14px;
        --text-weight: 700;
      }

      &.medium {
        --padding: 8px 16px;
        --radius: 10px;
        --text-size: 14px;
        --text-weight: 700;
      }
    }

    &.secondary {
      --border-width: 1px;
      --border-color: var(--yellow-1);
      --bg-color: var(--yellow-1);
      --shadow-color: transparent;
      --shadow: none;
      --text-color: var(--neutrals-800);
      --padding: 4px 8px;
      --radius: 6px;
      --text-size: 12px;
      --text-weight: 500;
      --text-transform: none;
      --gap: 8px;

      &:active {
        --border-color: var(--yellow);
        --bg-color: var(--yellow);
      }

      &:disabled {
        --text-color: var(--neutrals-20);
        --border-color: transparent;
        --bg-color: var(--neutrals-500-60);
      }

      &.medium {
        --radius: 6px;
        --padding: 4px 8px;
      }
      &.small {
        --radius: 8px;
        --padding: 4px 14px;
      }

      &.outlined {
        --text-color: var(--neutrals-900-80);
        --border-color: var(--neutrals-900-80);
        --bg-color: transparent;

        &:hover {
          --text-color: var(--dark-blue);
          --border-color: var(--dark-blue);
        }
        &:disabled {
          --text-color: var(--neutrals-700);
          --border-color: var(--neutrals-500);
        }
      }
    }
  }
}

.ui-toggle {
  display: inline-flex;
  gap: 8px;

  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    input[type="checkbox"],
    input[type="radio"] {
      --active: var(--blue-1);
      --active-inner: var(--neutrals-20);
      --border: rgba(0, 0, 0, 0);
      --border-hover: transparent;
      --background: #fff;
      --disabled: var(--neutrals-50);
      --disabled-inner: #e1e6f9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--border);
      background: var(--b, var(--background));
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);

      // transition:
      //   background 0.3s,
      //   border-color 0.3s,
      //   box-shadow 0.2s;

      &.switch {
        --b: var(--neutrals-300) !important;

        &:checked {
          --b: var(--active) !important;
        }
      }

      &:after {
        content: "";
        display: block;
        left: 0;
        top: 0;
        position: absolute;
        // transition:
        //   transform var(--d-t, 0.3s) var(--d-t-e, ease),
        //   opacity var(--d-o, 0.2s);
      }
      &:checked {
        --b: var(--active);
        --bc: var(--neutrals-20);
        --d-o: 0.3s;
        --d-t: 0.6s;
        --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
        box-shadow: 0 0 0 1px var(--dark-blue);
      }
      &:disabled {
        --b: var(--disabled);
        cursor: not-allowed;
        opacity: 0.9;
        &:checked {
          --b: var(--disabled-inner);
          --bc: var(--border);
        }
        & + label {
          cursor: not-allowed;
        }
      }
      &:hover {
        &:not(:checked) {
          &:not(:disabled) {
            --bc: var(--border-hover);
            --background: var(--light-blue);
          }
        }
      }
      &:not(.switch) {
        width: 21px;
        &:after {
          opacity: var(--o, 0);
        }
        &:checked {
          --o: 1;
        }
      }
      & + label {
        font-size: 14px;
        line-height: 21px;
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    input[type="checkbox"] {
      &:not(.switch) {
        border-radius: 7px;
        &:after {
          width: 5px;
          height: 9px;
          border: 2px solid var(--active-inner);
          border-top: 0;
          border-left: 0;
          left: 7px;
          top: 4px;
          transform: rotate(var(--r, 20deg));
        }
        &:checked {
          --r: 43deg;
        }
      }
      &.switch {
        --width: 48px;
        --height: 24px;
        width: var(--width);
        height: var(--height);
        border-radius: 11px;
        --ab: var(--neutrals-20);
        --b: transparent;
        border: 0;
        box-shadow: none;
        --bg: var(--neutrals-300);

        &.medium {
          --width: 48px;
          --height: 24px;
        }
        &.small {
          --width: 40px;
          --height: 20px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          border-radius: 11px;
          background-color: var(--bg);
          // transition: all 0.3s ease 0s;
        }

        &:after {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          width: calc(var(--height) * 0.8);
          height: calc(var(--height) * 0.8);
          background: var(--ab, var(--border));
          transform: translateX(var(--x, 0));
        }

        &.material {
          &::before {
            height: 50%;
            top: 50%;
            transform: translateY(-50%);
            width: 66%;
            left: 17%;
          }
          &::after {
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
          }
        }

        &.custom {
          &::before {
            border-radius: 4px;
          }
        }

        &:hover {
          --bg: var(--neutrals-400);
          --ab: var(--neutrals-20);
        }

        &:checked {
          --ab: var(--active-inner);
          --x: calc(var(--width) * 0.5);
          --bg: var(--blue-1);
          &:hover {
            --bg: var(--dark-blue);
          }
        }
        &:disabled {
          --bg: var(--neutrals-100);
          --ab: var(--neutrals-300);

          &:hover {
            --bg: var(--neutrals-100);
          }

          &:not(:checked) {
            &:after {
              opacity: 0.6;
            }
          }
        }
        &:focus {
        }
      }
    }
    input[type="radio"] {
      border-radius: 50%;
      &:after {
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: var(--blue-1);
        opacity: 0;
        transform: scale(var(--s, 0.7));
      }
      &:checked {
        --s: 0.6;
        --b: var(--neutrals-20);
      }

      &:disabled {
        box-shadow: none;
        background-color: var(--neutrals-20);
        border: 1px solid var(--neutrals-200);
      }
    }
  }

  label {
    font-weight: 400;
    font-size: 12px;
    color: var(--neutrals-900);
  }
}

.ui-field {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    color: var(--neutrals-900);
    margin-bottom: 4px;
  }

  & .ui-field-body {
    position: relative;
    width: 100%;
    height: 40px;
  }

  & .ui-field-valid {
    color: var(--turquoise);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    opacity: 0;
    transition: all 0.3s ease 0s;
    z-index: -1;
  }

  &.valid .ui-field-valid {
    opacity: 1;
    z-index: 1;
  }

  input {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    padding: 8px 16px;
    border-radius: 12px;
    color: var(--neutrals-700);
    background-color: var(--neutrals-20);
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    transition: all 0.3s ease 0s;

    &:focus {
      box-shadow: inset 0 0 2px 0 var(--turquoise);
    }

    &:disabled {
      box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.25);
      background: var(--neutrals-200);
    }

    &.error {
      box-shadow: inset 0 0 2px 0 var(--error);
    }

    &[type="phone"] {
      padding-left: 68px;
    }
  }

  &[data-valid] input {
    padding-right: 40px;
  }

  & .ui-field-error {
    display: none;
    font-weight: 400;
    font-size: 10px;
    color: var(--error);
    margin-top: 6px;

    &.error {
      display: block;
    }
  }
  & .ui-field-visible {
    display: inline-flex;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    background: transparent;
    width: 24px;
    height: 24px;
  }

  & .ui-field-open-eye,
  & .ui-field-close-eye {
    transition: all 0.3s ease 0s;
    position: absolute;
    color: var(--neutrals-900);
    top: 0;
    left: 0;
  }
  & .ui-field-close-eye {
    opacity: 0;
  }
  & .ui-field-visible.close {
    & .ui-field-close-eye {
      opacity: 1;
    }
    & .ui-field-open-eye {
      opacity: 0;
    }
  }

  & .ui-field-phone {
    z-index: 1;
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--neutrals-500);
    cursor: pointer;

    i {
      transition: all 0.3s ease 0s;
    }

    &.open i {
      transform: scaleY(-1);
    }
  }
}

.ui-multi-field {
  width: 100%;
  &,
  &.medium {
    --button-size: 16px;
    --button-padding: 0 26px;
  }

  &.small {
    --button-size: 13px;
    --button-padding: 0 17.5px;
  }

  & .ui-multi-label {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    color: var(--neutrals-900);
    margin-bottom: 4px;
  }

  & .ui-field-body {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    gap: 8px;
    align-items: center;
  }

  & .ui-multi-input-body {
    height: 100%;
    display: flex;
    gap: 4px;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.25);
    background: var(--neutrals-20);
    padding: 2px 3px;
    border-radius: 12px;
    padding-right: 100px;
    flex: 1 1 auto;
  }

  & .ui-multi-value-list {
    display: flex;
    gap: 2px;

    li {
      border-radius: 10px;
      padding: 4px 8px;
      background-color: var(--neutrals-50);
      display: flex;
      gap: 8px;
      align-items: center;
      font-weight: 400;
      font-size: 12px;
      color: var(--neutrals-700);

      button {
        background-color: var(--dark-blue);
        width: 20px;
        height: 20px;
        border-radius: 6px;
      }
    }
  }

  & .ui-multi-input {
    flex: 1 1 auto;
    // font-size: 1;
    display: none;
  }

  & .ui-multi-button {
    border-radius: 12px;
    background-color: var(--blue-2);
    font-weight: 700;
    font-size: var(--button-size);
    color: var(--neutrals-20);
    height: 100%;
    padding: var(--button-padding);
    display: flex;
    align-items: center;
    transition: all 0.3s ease 0s;

    &:active {
      background-color: var(--blue-1);
    }
  }
}

.ui-dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: calc(100% + 5px);
  left: 0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 12px;
  opacity: 0;
  z-index: -1;
  max-height: 0;
  transition: all 0.3s ease 0s;

  &.open {
    opacity: 1;
    z-index: 5;
    max-height: 280px;
  }

  &.phone {
    width: 150px;
  }

  & li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    color: #0f0f0f;
    background: var(--neutrals-20);
    position: relative;

    &:first-child {
      border-radius: 12px 12px 0 0;
    }

    &:last-child {
      border-radius: 0 0 12px 12px;
    }

    &:not(:first-child) {
      border-top: 1px solid var(--neutrals-300);
    }

    &.select {
      background-color: var(--light-blue);

      &::after {
        content: "";
        width: 16px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6663 1.68359L5.49967 10.8503L1.33301 6.68359' stroke='%23008CBF' stroke-width='1.66667' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
      }
    }

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: var(--light-blue);
      }
    }

    & div {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    & img {
      width: 100%;
      max-width: 25px;
      border: 0.5px solid var(--neutrals-300);
    }
  }
}

.ui-dropdown {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.open {
    & i {
      transform: scaleY(-1);
    }
  }

  & .ui-dropdown-label {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    color: var(--neutrals-800);
  }

  & .ui-dropdown-field {
    position: relative;
    border-radius: 12px;
    padding: 3px;
    padding-right: 16px;
    height: 40px;
    box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.25);
    background: var(--neutrals-20);

    & .ui-dropdown-value {
      display: flex;
      align-items: center;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      overflow: auto;

      & i {
        transition: all 0.2s ease 0s;
      }

      & .ui-dropdown-value-list {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;

        & li {
          display: flex;
          align-items: center;
          font-weight: 400;
          font-size: 12px;
          color: var(--neutrals-700);
          gap: 8px;
          padding: 8px;
          background-color: var(--neutrals-50);
          border-radius: 10px;

          & button {
            width: 20px;
            height: 20px;
            border-radius: 6px;
            background: var(--dark-blue);
          }
        }
      }

      & i {
        color: var(--neutrals-700);
        --size: 20px;
      }
    }
  }
}

.datepicker {
  width: 333px;
}

.datepicker-view {
  width: 100%;
}

.datepicker-grid {
  gap: 7px;
  padding-bottom: 10px;
}

.datepicker-grid,
.datepicker-header,
.days-of-week {
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

.datepicker-cell.day {
  height: 34px;
  width: 34px;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  border-radius: 8px;
}

.datepicker-cell.day.prev {
  background-color: var(--neutrals-50);
  border-radius: 8px;
}

.datepicker-cell:not(.day) {
  background-color: var(--neutrals-50);
  height: 27px;
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.datepicker-cell.focused:not(.selected),
.datepicker-cell.selected,
.datepicker-cell.selected:hover {
  background-color: var(--blue-2);
  border-radius: 8px;
}

.datepicker-grid:not(.days) {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.datepicker-cell.focused:not(.selected) {
  color: var(--neutrals-900);
}

.datepicker-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.datepicker-controls .view-switch {
  -webkit-box-ordinal-group: 1;
  -ms-flex-order: 0;
  order: 0;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.12em;
  color: var(--neutrals-900);
  padding: 0;
}

.datepicker-controls .prev-button {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.datepicker-controls .prev-button::before {
  content: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.875 1.14706L1.125 4.82597L4.875 8.50488' stroke='%230F0F0F' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}

.datepicker-controls .next-button {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.datepicker-controls .next-button::before {
  content: url("data:image/svg+xml,%3Csvg width='6' height='9' viewBox='0 0 6 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.125 8.22012L4.875 4.54121L1.125 0.862305' stroke='%230F0F0F' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
}

.datepicker-controls .next-button,
.datepicker-controls .prev-button {
  position: relative;
  color: transparent !important;
}

.datepicker-controls .next-button::before,
.datepicker-controls .prev-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.datepicker-input {
  display: block !important;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 12px;
  color: var(--neutrals-700);
  background-color: var(--neutrals-20);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.4);
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.datepicker-input.in-edit:active,
.datepicker-input.in-edit:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.date-picker-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
}

.date-picker-field label {
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.date-picker-input-body {
  position: relative;
}

.date-picker-input-body i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
  color: var(--neutrals-500);
}

.date-picker-input-body input {
  height: 40px;
}

.menu {
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 16px;
  padding: 6px;
  background-color: var(--dark-blue);
  gap: 6px;

  &__link {
    display: flex;
    align-items: center;
    color: var(--neutrals-50);
    background-color: var(--dark-blue);
    padding: 12px 17.5px;
    border-radius: 12px;
    gap: 8px;

    i {
      --size: 25px;
    }

    @media (any-hover: hover) {
      cursor: pointer;
      transition: all 0.3s ease 0s;
      &:hover {
        background-color: var(--neutrals-20);
        color: var(--neutrals-900);
      }
    }

    &.active {
      background-color: var(--light-blue);
      color: var(--neutrals-900);
    }
  }

  @media (max-width: 1300px) {
    &__link {
      span {
        display: none;
      }
    }
  }

  @media (max-width: 992px) {
    width: 100%;
    justify-content: space-between;
    &__link {
      padding: 9px 13px;
    }
  }

  @media (max-width: 440px) {
    &__link {
      padding: 5px;
      border-radius: 8px;
    }
  }
}
